@mixin  center($align, $justify, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

.channel{
    // height: 300px;
    padding: 20px 20px 30px 20px;
    width: 100%;
    // background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;     
    @include center(center,flex-start, column );
    transition: 0.3s ease;
    cursor: pointer;


    img{

        height: 150px;
        width: 100%;
        // border-radius: 3px;
        object-fit: center;
        // border-radius: 50%;
    }

    h2{
        font-size: 15px;
        margin-top: 10px;
    }

    p{
        color: #8A959ECC;
        font-size: 13px;
    }

    button{
        width: 100px;
        height: 30px;
        background: #EF5350;
        border-radius: 3px;
        border: none;
        color: white;
        margin-top: 15px;
        font-weight: 600;
        font-size: 12px;
        cursor: pointer;


    }
}

.channel:hover{
    transform: scale(1.05);
}