.vskeleton{
    // height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 10px;
    background: white;
    padding: 20px;
    border-radius: 5px;

    .box{
        height: 200px;
        

        .line1{
            
            width: 100%;
            height: 150px;
            background-color: #ECEAED;
            animation: pulse 1s infinite ease-in-out;

        }

        .wrap{

            width: 100%;
            margin-top: 10px;

            .image{
                height: 50px;
                width: 50px;
                margin-right: 10px;
                border-radius: 100%;
                background-color: #ECEAED;
                animation: pulse 1s infinite ease-in-out;
            }

            .wrap2{
                // width: auto;
                width: 70%;

                .line2{
                    width : 80%;
                    height: 15px;
                    background-color: #ECEAED;
                    animation: pulse 1s infinite ease-in-out;
                    margin-top: 10px;
                }
                .line3{
                    width : 30%;
                    height: 15px;
                    background-color: #ECEAED;
                    animation: pulse 1s infinite ease-in-out;
                    margin-top: 10px;
                }
            }
        }
    }

    @keyframes pulse {
        0% {
            background-color: rgba(165, 165, 165, 0.1);
        }
        50% {
            background-color: rgba(165, 165, 165, 0.4);
        }
        100% {
            background-color: rgba(165, 165, 165, 0.1);
        }
    }
}

@media screen and (max-width:481px) {
    .vskeleton{
        grid-template-columns: 1fr;
        padding: 0px;
    }
}

@media screen and (min-width:481px) and (max-width:1024px) {
    .vskeleton{
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0px;
    }
}