@mixin  center($param1,$param2,$dir) {
    display: flex;
    justify-content:$param1 ;
    align-items: $param2;
    flex-direction: $dir;
}

.create{
    min-height: calc(100vh - 60px );

    .nav{
        height: 60px;
        border-top: 1px solid #dce2ec;
        border-bottom: 1px solid #dce2ec;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-left: 200px;
        padding-right: 200px;
        margin-bottom: 20px;

        button{
            height: 30px;
            width: 70px;
            background: #EF5350;
            border: none;
            color: white;
            font-weight: 600;
            border-radius: 3px;
            cursor:  pointer;
            @include center(center,center ,row );
        }
    }

    .channel{
        padding-left: 200px;
        padding-right: 200px;

     
        .channel__form{
            width: 100%;
            // height: 200px;
            border: 1px solid #dce2ec;
            border-radius: 5px;
            padding: 10px;

            header{

                margin-bottom: 30px;
                h3{
                    font-size: 0.875rem;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 0.75rem;
                }
            }

            .fields{
                @include center(center,center ,column );

                .input__wrap{
                    @include center(flex-end,center ,row );
                
                    margin-bottom: 30px;

                    input[type="file"]{
                        display: none;
                    }

                    .logoWrap{
                        width: 300px;
                        // background: red;
                        height: 50px;
                        display: flex;
                        justify-content: flex-start;
                        position: relative;

                        .logo{
                            height: 30px;
                            width: 30px;
                            cursor: pointer;
                        }
                        .upload{
                            height: 25px;
                            width: 25px;
                            position: absolute;
                            bottom: 0px;
                            left: 30px;
                        }
                    }
                    label{
                        color: rgba(24,24,25,0.7);
                        margin-right: 20px;
                        margin-right: 10px;
                        width: 100px;
                        display: flex;
                        font-size: 0.875rem;
                        justify-content: flex-end;
                        font-weight: 500;
                    
                    }
                    input,textarea{
                        width: 300px;
                        height: 40px;
                        border: 1px solid #dce2ec;
                        border-radius: 3px;
                        outline: none;
                        padding-left: 10px;
                    
                    }
                    textarea{
                        height: 100px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px) {

	.create{

        .nav{
            padding-left: 20px;
            padding-right: 20px;
            
        }

        .channel{
            padding-left: 20px;
            padding-right: 20px;

            .channel__form{
        
                
                .fields{
               
                    .input__wrap{
                        @include center(center,flex-start,column );
                        width: 100%;

                        .logoWrap{
                            
                            width: 100%;
                        }

                        label{
                            
                            justify-content: flex-start;
                            margin-bottom: 10px;
                        }

                        input,textarea{
                            width: 100%;
                            // border: 1px solid red;
                        }

                    }
                    
                    
                }
            }
        }
    }
}

*{
    // border: 1px solid red;
}