.video{
    width: 100%;
    height: 100%;
    cursor: pointer;
    // background: black;

    video{
        
        width:100%; 
        height: 100%;
        // background: black;
        // border-radius: 12px;
    }


    .video__details{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        p{
            font-weight: 600;
            font-size: 14px;
            margin-top: 5px;
        }
        
    }
}

@media screen and (max-width:768px) {
    .video{
        flex-direction: column;

        .video__left{
            width: 100%;
        }
    }
}